<div *ngIf="!user.auth">
  <button type="button" (click)="loginWithGuest()">Guest</button>
  <button type="button" (click)="loginWithGoogle()">Google</button>
</div>

<div *ngIf="user.auth">
  Welcome {{ user.uid }}!
  <a href="#" (click)="logout()">Logout</a>

  <ul>
    <li *ngFor="let item of items | async">
      <input type="checkbox" [(ngModel)]="item.isDone" (ngModelChange)="toggle(item)">
      <input type="text" [(ngModel)]="item.text" (blur)="update(item)">
      <a href="#" (click)="delete(item)">Remove</a>
    </li>
  </ul>

  <input type="text" [(ngModel)]="newItem.text" (keyup.enter)="add(newItem)">
</div>